header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: green;
}

button-container {
    text-align: center;
    margin-bottom: 30px;
}

h1, header p {
    text-align: center;
}

.button-container {
    display: flex;             
    justify-content: center;     
    gap: 10px;                 
    margin-bottom: 20px;         
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: #45a049;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
}

.product h3 {
    font-family: 'Poppins', sans-serif;
}

.product-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.product-button:hover {
    background-color: #45a049;
}

.separator-line {
    border: none;
    height: 2px;
    background-color: #4CAF50;
    margin: 20px 0;
}

h2, p.engage {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}

.product-entry-form {
    width: 50%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

.product-entry-form input[type="text"], 
.product-entry-form input[type="number"], 
.product-entry-form select, 
.product-entry-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 100%;
}

.btn-submit:hover {
    background-color: #45a049;
}

.login-container {
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-logo {
    width: 100%; 
    max-width: 100px; 
    height: auto; 
    margin-bottom: 20px; 
}


.login-btn:hover {
    background-color: #45a049;
}

.message-list {
    list-style-type: none;
    padding: 0;
}

.message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.login-container a {
    color: #4CAF50;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.navbar-toggler {
    border-color: transparent; 
}

.navbar-toggler-icon {
    background-image: none; 
}

.navbar-toggler-icon:before {
    content: ''; 
    display: block;
    width: 30px; 
    height: 2px; 
    background-color: white; 
    margin: 6px 0; 
}

.navbar-toggler-icon:after {
    content: ''; 
    display: block;
    width: 30px; 
    height: 2px; 
    background-color: white;
    margin: 6px 0; 
}

