{% extends 'base.html' %}
{% block content %}
<head>
    <title>Welcome to Bamboo Shop</title>
</head>
<body>
    <header>
        <h1>Welcome to Bamboo Shop</h1>
        <p> <b> <i> By Regina Meilani Aruan/2306275632 </i></b></p>
    </header>
    <h2> 🔴 Our Product 🔴</h2>
    <ul>
        {% for product in products %}
        <li>
            <div class="product">
                <h3>{{ product.name }}</h3>
                <p>Price: ${{ product.price }}</p>
                <p>Category: {{ product.category }}</p>
                <p>Stock: {{ product.stock }}</p>
                <p>Rating: {{ product.rating }} ★</p>
                <p>{{ product.description }}</p>
                <p><strong>Review:</strong> {{ product.review }}</p>
                <p>Date Added: {{ product.date_added }}</p>
                <button class="product-button">Buy Now</button>
            </div>
        </li>
        {% endfor %}
    </ul>

    <h2> 🔴 New Products 🔴</h2>
    {% if not product_entries %}
        <p> Anda belum menambahkan product baru pada BambooShop.</p>
    {% else %}
        <ul>
            {% for product_entry in product_entries %}
            <li>
                <div class="product">
                    <h3>{{ product_entry.name }}</h3>
                    <p>Price: ${{ product_entry.price }}</p>
                    <p>Category: {{ product_entry.category }}</p>
                    <p>Stock: {{ product_entry.stock }}</p>
                    <p>Rating: {{ product_entry.rating }} ★</p>
                    <p>{{ product_entry.description }}</p>
                    <p><strong>Review:</strong> {{ product_entry.review }}</p>
                    <p>Date Added: {{ product_entry.date_added }}</p>
                    <button class="product-button">Buy Now</button>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product Entry</button>
</a>

<p> 🌟 <i> Engage with Us at @brbclub </i>🌟</p>


</body>
{% endblock content %}
