<nav class="navbar navbar-expand-md bg-success">
    <div class="container">
        <a class="navbar-brand text-white fw-bold" href="#">BambooShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white active" href="{% url 'main:show_main' %}" aria-current="page">Home</a> <!-- Kelas active untuk item yang aktif -->
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#new-products">New Products</a>
                </li>
            </ul>
            <div class="ms-auto"> <!-- Menempatkan elemen di kanan -->
                <a class="nav-link text-white" href="{% url 'main:logout' %}">Logout</a>
            </div>
        </div>
    </div>
</nav>
